.calculator-block {
  border: rgb(236, 236, 236) solid 1px;
  border-bottom: none;
}

.calculator-block .title {
  height: 27px;
  padding-top: 13px;
  padding-left: 20px;
  background-color: rgb(246, 246, 246);
  border-bottom: rgb(236, 236, 236) solid 1px;
  font-weight: bold;
}

.calculator-block .block-inner {
  border-bottom: rgb(236, 236, 236) solid 1px;
}

.calculator-block .switcher {
  float:right;
  margin-right: 20px;
}

.calculator-block.expanded .switcher a {
  color: rgb(221, 221, 221);
}
