/*
  Стиль чекбоксов в блоках inetservices, options, equipments
*/

#calculator .checkboxitems .block-inner {
  padding-top: 15px;
}

#calculator .checkboxitem {
  float: left;
  display: inline-block;
  width: 50%;
  line-height: 20px;
}

#calculator .checkboxitem .checkboxitem-inner {
  margin:15px;
  margin-top: 0;
  margin-right: 0;
}

#calculator .checkboxitem input[type="checkbox"] {
  position:absolute;
  cursor: pointer;
}

#calculator .checkboxitem .checkboxitem-content {
  position:relative;
  margin-left:25px;
}

#calculator .checkboxitem .calculator-price .value {
  color: #94C627;
  font-size: 16px;
  font-weight: bold;
}

#calculator .checkboxitem .name {
  font-weight: bold;
  line-height: 13px;
}

/* GROUP */

#calculator .checkboxitem .group .name {
  line-height: 20px;
  cursor: pointer;
}

#calculator .checkboxitem .group .name > div {
  float: left;
  height: 22px;
}

#calculator .checkboxitem .group .calculator-price {
  clear: both;
  padding-right: 15px;
}

#calculator .checkboxitem .group .deliveryfee {
  color: #959595;
  line-height: 13px;
}

#calculator .checkboxitem .multiselect-left {
  background-image: url(../img/sel_l.png);
  width: 5px;
}

#calculator .checkboxitem .multiselect-middle {
  background-image: url(../img/sel_bg.png);
  padding: 0 3px;
  max-width: 155px;
  white-space: nowrap;
}

#calculator .checkboxitem .multiselect-middle div {
  overflow-x: hidden;
}

#calculator .checkboxitem .multiselect-right {
  background-image: url(../img/sel_r.png);
  width: 5px;
}

#calculator .checkboxitem .multiselect-arr {
  background-image: url(../img/sel_arr.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 8px;
  padding-right: 15px;
}

/* POPUP */

#calculator .checkboxitem-popup {
  z-index: 200;
  position: absolute;
  background: #fff;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 5px;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:    0px 1px 5px 0px #D8D8D8;
  -webkit-box-shadow: 0px 1px 5px 0px #D8D8D8;
  box-shadow:         0px 1px 5px 0px #D8D8D8;
  width: auto;
}

#calculator .checkboxitem-popup table {
  width: auto;
  margin: 0;
  border: none;
}

#calculator .checkboxitem-popup td {
  border: none;
}

#calculator .checkboxitem-popup tr.divider td {
  border-bottom: #ccc solid 1px;
  padding: 0;
}

#calculator .checkboxitem-popup tr:last-child td {
  border: none;
}

#calculator .checkboxitem-popup input[type="checkbox"] {
  position: static;
}


#calculator .checkboxitem-popup .type-name {
  font-weight: bold;
  padding-bottom: 5px;
}

#calculator .checkboxitem-popup td {
  padding: 3px 0;
}

#calculator .checkboxitem-popup .name {
  padding-left: 10px;
  line-height: 20px;
}

#calculator .checkboxitem-popup td.calculator-price {
  padding-left: 25px;
  text-align: right;
}

#calculator .checkboxitem-popup .price-group tr:last-child td {
  padding-bottom: 10px;
}

/* DVBC */

#calculator .calculator-dvbcpacks .block-inner {
  padding: 15px 10px 0 11px;
}

#calculator .calculator-dvbcpacks .checkboxitem-inner,
#calculator .calculator-dvbcpacks .checkboxitem-inner.inactive:hover {
  background-image: url(../img/tv_no.png);
}

#calculator .calculator-dvbcpacks .checkboxitem-inner {
  width: 191px;
  height: 74px;
  padding: 0;
  margin-left: 6px;
  margin-bottom: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}

#calculator .calculator-dvbcpacks .checkboxitem-inner.active,
#calculator .calculator-dvbcpacks .checkboxitem-inner:hover {
  background-image: url(../img/tv_on.png);
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem {
  padding: 10px;
  line-height: 16px;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .name {
  float: left;
  width: 120px;
  font-size: 14px;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .description {
  color: #888;
  position: absolute;
  margin-top: 35px;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .calculator-price {
  float: left;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .calculator-price span {
  display: block;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .calculator-price .value {
  font-size: 24px;
  font-weight: bold;
  color: #94C627;
  width: 48px;
  text-align: right;
  position: absolute;
}

#calculator .calculator-dvbcpacks .checkboxitem .dvbcitem .calculator-price .period {
  position: absolute;
  margin-top: 35px;
}

/* VOIP_BILL */
#calculator .checkboxitem .voipbill .email {
  font-weight: normal;
  color: #959595;
}