/*
  Основной стиль калькулятора
*/

#calculator a {
  cursor: pointer;
}

#calculator table {
  margin: 0;
}

#calculator .choice {
  width:100%;
  height:24px;
  border-left: 1px solid #E2E2E2;
  margin-bottom:20px;
  font-weight: bold;
}

#calculator .choice .what {
  text-decoration: none;
  color: #000;
  display: block;
  float:left;
  width:33%;
  height:21px;
  background:url(../img/menubg.png) 50% 50% repeat-x;
  text-align:center;
  border:1px solid #E2E2E2;
  border-left: none;
  padding-top:3px;
}

#calculator .choice .what.active {
  background:url(../img/menubg_hover.png) 50% 50% repeat-x;
  color:#FFF;
}

#calculator .section-left {
  float:left;
  width:54%;
  margin:0 15px 30px 0;
}

#calculator .section-right {
  float:left;
  width:44%;
}

/* ПОДЛОЖКА ДЛЯ ВСПЛЫВАЮЩИХ ОКОН */

.calculator-substrate {
  background-color: #fff;
  border: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  filter: alpha(opacity=80);
  opacity: 0.8;
}