/*
  Стиль блока тарифных планов
*/

#calculator .rateplans {
  box-shadow: rgb(216, 216, 216) 0px 1px 5px 0px;
}

#calculator .rateplan {
  border-bottom:1px solid #DBDBDB;
  padding: 15px;
  padding-left: 20px;
  clear: both;
}

#calculator .rateplan.enabled {
  cursor: pointer;
}

#calculator .rateplan-wrapper {
  position: relative;
}

#calculator .rateplan-wrapper:last-child .rateplan {
  border-bottom: none;
}

#calculator .rateplan-inner {
  background-image: url(../img/sel_no.png);
  background-repeat: no-repeat;
  background-position: right;
  min-height: 29px;
}

#calculator .rateplan.enabled:hover,
#calculator .rateplan.active {
  background-color: #E5F4D7;
}

#calculator .rateplan.enabled:hover .rateplan-inner {
  background-image: url(../img/sel_ye2.png);
}

#calculator .rateplan.enabled.active .rateplan-inner {
  background-image: url(../img/sel_ye.png);
}

#calculator .rateplan .name-group {
  width: 200px;
}

#calculator .rateplan .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

#calculator .rateplan .description {
  color: #959595;
}

#calculator .rateplan .calculator-price {
  font-size: 26px;
  position: absolute;
  margin-left: 210px;
}

#calculator .rateplan .calculator-price .value {
  font-weight: bold;
  color: #94C627;
}

#calculator .rateplan .calculator-price .period {
  font-size: 12px;
}

#calculator .rateplan .bonuses {
  float: right;
  margin-right: 50px;
  margin-top: 5px;
  background:#EFEFEF;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-border-radius:10px;
}

#calculator .rateplan.enabled:hover .bonuses,
#calculator .rateplan.active .bonuses {
  background: #fff;
}

#calculator .rateplan.disabled .rateplan-inner {
  filter: alpha(opacity=20);
  opacity: .2;
}

/* mark */
#calculator .rateplan-wrapper .mark {
	display:block;
	position: absolute;
	height: 21px;
	background: url(../img/mark_h.png) 0 0 no-repeat;
	padding-left:16px;
	left: -8px;
	top: -4px;
	z-index: 10;
}
#calculator .rateplan-wrapper .mark span {
	display: inline-block;
	height: 21px;
	line-height:17px;
	text-transform: uppercase;
	vertical-align: top;
	background: url(../img/mark_b.png) 0 0 repeat-x;
	padding-top: -3px;
	padding-right: 5px;
}
#calculator .rateplan-wrapper .mark span,
#calculator .rateplan-wrapper .mark span a {
  color: #fff;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
#calculator .rateplan-wrapper .mark:after {
	content: "";
	position: absolute;
	background: url(../img/mark_t.png) 0 0 no-repeat;
	right: -5px;
	top: 0px;
	width: 5px;
	height: 21px;
}