<thead>
  <tr>
    <td colspan="2">Категория номера</td>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="item in voip.numcategories.items">
    <td class="name" ng-bind="item.name"></td>
    <td align="right">
      <span calculator:price="item.price"></span>
      <input type="checkbox" ng-disabled="!item.canBeSelected()" ng-checked="item.selected" ng-click="item.select()" />
    </td>
  </tr>
</tbody>