<thead>
  <tr>
    <td>Тариф</td>
    <td>Объем мин., включенных в абон.плату</td>
    <td>Абон.плата, руб./мес.</td>
    <td colspan="2">Стоимость мин. сверх включенного объема, руб./мин.</td>
  </tr>
</thead>
<tbody ng-repeat="direction in voip.directions.items">
  <tr>
    <td colspan="5" ng-bind="direction.name"></td>
  </tr>
  <tr ng-repeat="rateplan in direction.rateplans.items">
    <td class="name" ng-bind="rateplan.name"></td>
    <td class="volume" ng-bind-html="rateplan.volume | voipRateplan"></td>
    <td class="price-permonth" ng-bind="rateplan.price.value"></td>
    <td class="price-perminute" ng-bind-html="rateplan.rate | voipRateplan"></td>
    <td>
      <input type="checkbox" ng-disabled="!rateplan.canBeSelected()" ng-checked="rateplan.selected" ng-click="rateplan.select()" />
    </td>
  </tr>
</tbody>