<div class="section-left">

  <div calculator:rateplans></div>
 
  <div calculator:activation></div>
  
</div>

<div class="section-right">

  <div calculator:dvbcpacks></div>
  
  <br>
  
  <div calculator:offer></div>
  
</div>

<br style="clear:both;">