<div class="title">
  <span ng-bind="title"></span>
  <div class="switcher" ng-if="canBeExpanded">
    <a ng-bind="expanded ? 'Скрыть' : 'Показать'" ng-click="switchExpanding()"></a>
  </div>
</div>
<div class="block-inner" ng-transclude ng-if="expanded"></div>