<div calculator:block title="Дополнительные опции" expand="{{expand}}" class="calculator-options checkboxitems clearfix">
  <div calculator:checkboxitem="item" ng-repeat="item in options"></div>
  <br style="clear:both;" />
</div>