<div calculator:block title="Оборудование" expand="{{expand}}" class="calculator-equipments checkboxitems clearfix">
  <div calculator:checkboxitem="item" ng-repeat="item in equipments"></div>
  <br style="clear:both;" />
</div>