<div class="mark" ng-if="rateplan.getMark()"><span><a ng-bind="rateplan.getMark()" ng-href="{{rateplan.getMarkRef()}}"></a><span></span></span></div>
<div class="rateplan" ng-class="{active: rateplan.selected, disabled: !rateplan.canBeSelected(), enabled: rateplan.canBeSelected()}" ng-click="click()" style="width:495px;" calculator-tooltip="rateplan.getTooltip()" tooltip-position="right" tooltip-type="{{rateplan.tooltipType}}">
  <div class="rateplan-inner">
    <div calculator:price="rateplan.price"></div>
    <div class="bonuses">+<span ng-bind="rateplan.price.value | bonus"></span> бал./мес.</div>
    <div class="name-group">
      <div class="name" ng-bind="rateplan.name"></div>
      <div class="description" ng-bind="description"></div>
    </div>
  </div>
</div>