<div calculator:block title="Дополнительные пакеты телеканалов" expand="{{expand}}" class="calculator-dvbcpacks checkboxitems clearfix">
  <div calculator:checkboxitem="item" ng-repeat="item in dvbcpacks"></div>
  <br style="clear:both;" />
</div>