<div calculator:block title="Тарифы" class="rateplans">
  <div calculator:rateplan="rateplan" ng-repeat="rateplan in rateplans"></div>
  <div calculator:rateplan="voip" ng-if="voip"></div>
  <div calculator:voip ng-if="voip.selected"></div>
</div>