<div class="inner">
  <h3>Вы заказали:</h3>
  
  <p>
    
  </p>
  
  <h3>Итого, с учетом заказанных изменений:</h3>
  
  <p>
    
  </p>
  
  
</div>

<button ng-disabled="!$calculator.contractWasChanged()" ng-if="!$state.is('summary')">Отправить заказ</button>