<div calculator:block title="Дополнительные услуги Интернет" expand="{{expand}}" class="calculator-inetservices checkboxitems clearfix">
  <div calculator:checkboxitem="item" ng-repeat="item in inetservices"></div>
  <br style="clear:both;" />
</div>