<div class="calculator-price">
  <span ng-if="from">от</span>
  <span ng-bind="price.value" class="value"></span>
  <span ng-bind="price | pricePeriod" class="period"></span>
  <div ng-if="price.deliveryfee" class="deliveryfee">
    + <span ng-bind="price.deliveryfee">1000</span> руб. единовременно за доставку
  </div>
</div>