<div class="section-left">

  <div calculator:rateplans></div>
 
  <div calculator:subtotal></div>
  
</div>

<div class="section-right">

  <div calculator:dvbcpacks></div>
  
  <br>
  
  <div calculator:inetservices></div>
  
  <br>
  
  <div calculator:options></div>
  
  <br>
  
  <div calculator:equipments></div>
  
</div>

<br style="clear:both;">