<tr ng-repeat-start="subitem in subitems">
  <td calculator-tooltip="subitem.getTooltip()" tooltip-type="{{subitem.tooltipType}}" tooltip-position="left">
    <input  type="checkbox" ng-click="subitem.select();closePopup()" ng-disabled="!subitem.parent.canBeSelected() || !subitem.canBeSelected()" ng-checked="subitem.selected" />
    <span class="name" ng-bind="subitem.name"></span>
  </td>
  <td calculator:price="subitem.price"></td>
</tr>
<tr ng-repeat-end class="divider"><td colspan="2"></tr>