<tbody ng-repeat-start="subitems in itemsByPrice"><tr class="type-name"><td colspan="2" ng-bind="subitems[0].price | priceType"></td></tr></tbody>
<tbody class="price-group" ng-repeat-end ng-include="$root.getTemplateUrl('checkboxitem/_popupSubitems.html')"></tbody>