<div class="dvbcitem" calculator-tooltip="item.getTooltip()" tooltip-type="{{item.tooltipType}}" tooltip-position="{{item.tooltipPosition}}">
  <div class="description" ng-bind="item.description"></div>
  <div class="name" ng-bind="item.name"></div>
  <div checkboxitem:price="item"></div>
</div>