<input type="checkbox" ng-click="clickGroupCheckbox()" ng-disabled="!item.canBeSelected()" ng-model="item.selected" />
<div class="checkboxitem-content">
  <div class="name" ng-click="clickGroup()">
    <div class="multiselect-left"></div>
    <div class="multiselect-middle">
      <div class="multiselect-arr">
        <div ng-bind="item.selected ? item.selectedItem.name : item.groupName"></div>
      </div>
    </div>
    <div class="multiselect-right"></div>
  </div>
  <div checkboxitem:price="item"></div>
</div>