<input type="checkbox" ng-disabled="!item.canBeSelected()" ng-checked="item.selected" ng-click="item.selected ? item.deselect() : item.select()" />
<div class="checkboxitem-content">
  <div class="name" ng-bind="item.name"></div>
  <div checkboxitem:price="item"></div>
</div>