<div class="calculator-substrate" ng-click="closePopup()"></div>
<div class="checkboxitem-popup">
  <table ng-include="$root.getTemplateUrl(itemsByPrice ? 'checkboxitem/_popupPriceGroups.html' : 'checkboxitem/_popupSubitems.html')"></table>
</div>