<input type="checkbox" ng-checked="item.selected" ng-click="item.selected ? item.deselect() : item.select()" ng-disabled="!item.canBeSelected()" />
<div class="checkboxitem-content">
  <div class="name">
    <div ng-bind="item.name"></div>
    <div class="email">
      e-mail:
      <span ng-if="email" ng-bind="email"></span>
      <a ng-if="!email" class="hint--bottom" data-hint="Не указан Email адрес в контактных данных.">Изменить</a>
    </div>
  </div>
  <div checkboxitem:price="item"></div>
</div>