<div class="section-left">

  <div calculator:rateplans></div>
 
  <div calculator:subtotal></div>
  
</div>

<div class="section-right">

  <div calculator:inetservices expand="no"></div>
  
  <br>
  
  <div calculator:options expand="yes"></div>
  
  <br>
  
  <div calculator:equipments expand="yes"></div>
  
</div>

<br style="clear:both;">